.banner-div {
    position: relative;
}


.banner-text {
    position: absolute;
    top: 40%;
    left: 2rem;
    width: 95%;
}

.banner-text h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #9f1239;
    background: #c8cac886;
}

.banner-text h4 {
    font-size: 22px;
    margin-bottom: 2rem;
    color: rgb(15, 14, 14);
    background: #b4b7b483;
    font-weight: bold;
}

.banner-div img {
    width: 100%;
    height: 630px;
}


@media only screen and (max-width: 600px) {
    .banner-text {
        position: absolute;
        top: 20%;
        left: 2rem;
        width: 90%;
    }

    .banner-text h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: rgb(8, 8, 240);
    }

    .banner-text h4 {
        display: none;
    }

    .banner-div img {
        width: 100%;
        height: 280px;
    }
}